<article>
  <%= link_to product_path(product) do %>
    <%= image_tag product.image.thumb.url , alt: product.name %>
    <h1>
      <span><%= product.name %></span>
      <span><%= humanized_money_with_symbol product.price %></span>
    </h1>
  <% end%>
  <div>
  
  <%# If quanity is zero then have SoldOut button and a disabled Add button %>
  <% if product.quantity == 0 %>
    <button type="button" class="soldout btn btn-danger">Sold Out</button>
    <button type="button" class="btn btn-secondary" disabled>Add</button>

  <% else %>

    <%= button_to add_item_cart_path(product_id: product.id), class: 'btn' ,
    method: :post do %>
      <%= fa_icon "shopping-cart", text: 'Add' %> 
    <% end %>

  <% end %>  
  </div>
</article>
